<!doctype html>
<html>
	<head>
		<title>Criminals eSports - Home</title>
		<link rel="shortcut icon" type="image/png" href="images/ujlogo2.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	</head>
	<body>
		<header>
			<nav>

					<li class="logo"><a href="">Crimianls eSports Logo</a></li>
					<h1>Criminals eSports</h1>
					<ul>
            <% if (selectedPage == "index") { %>
              	<li id="homeText">Home</li>
            <% } else { %>
                <li><a href="/" style="text-decoration: none;">Home</a></li>
            <% } %>

            <% if (selectedPage == "news") { %>
              	<li id="homeText">News</li>
            <% } else { %>
                <li><a href="/news" style="text-decoration: none;">News</a></li>
            <% } %>

            <% if (selectedPage == "players") { %>
              	<li id="homeText">Players</li>
            <% } else { %>
                <li><a href="/players" style="text-decoration: none;">Players</a></li>
            <% } %>

            <% if (selectedPage == "registration") { %>
              	<li id="homeText">Registration</li>
            <% } else { %>
                <li><a href="/registration" style="text-decoration: none;">Registration</a></li>
            <% } %>

						<% if (selectedPage == "social") { %>
              	<li id="homeText">Social</li>
            <% } else { %>
                <li><a href="/social" style="text-decoration: none;">Social</a></li>
            <% } %>
					</ul>


			</nav>
		</header>
			<section>
				<div>
					<img id="banner" src="images/homepagepic.png" alt="big background">
				</div>
			</section>
			<section class="border-head">
				<div>
					<img src="images/criminalsesportsborder.png" alt="criminalsesportsborder">
				</div>
			</section>
