<html>
	<head>
		<title>Criminals eSports - Home</title>
		<link rel="shortcut icon" type="image/png" href="images/ujlogo2.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	</head>
	<body>
		<header>
			<nav>
				<div class="container">

					<li class="logo"><a href="">Crimianls eSports Logo</a></li>
					<h1>Criminals eSports</h1>
					<ul>
            <% if (selectedPage == "index") { %>
              	<li id="homeText">Home</li>
            <% } else { %>
                <li><a href="/" style="text-decoration: none;">Home</a></li>
            <% } %>

            <% if (selectedPage == "news") { %>
              	<li id="homeText">News</li>
            <% } else { %>
                <li><a href="/news" style="text-decoration: none;">News</a></li>
            <% } %>

            <% if (selectedPage == "players") { %>
              	<li id="homeText">Players</li>
            <% } else { %>
                <li><a href="/players" style="text-decoration: none;">Players</a></li>
            <% } %>

            <% if (selectedPage == "registration") { %>
              	<li id="homeText">Registration</li>
            <% } else { %>
                <li><a href="/registration" style="text-decoration: none;">Registration</a></li>
            <% } %>

						<% if (selectedPage == "social") { %>
              	<li id="homeText">Social</li>
            <% } else { %>
                <li><a href="/social" style="text-decoration: none;">Social</a></li>
            <% } %>
					</ul>

				</div>
			</nav>
		</header>
	</body>
			<section>
				<div>
					<img id="banner" src="images/homepagepic.png" alt="big background">
				</div>
			</section>
			<section class="border-head">
				<div>
					<img src="images/criminalsesportsborder.png" alt="criminalsesportsborder">
				</div>
			</section>
<div class="container">
	<section  class="page1text redText">
		<p>-A jovo csapata-
			<br>a Criminals eSports Novak Gergo Zoltan vezetese alatt all.
			<br>Jelenleg 2 "reszleggel" rendelkezunk, Fortnite es CS:GO.
			<br>Celunk hogy minel tobben megismerjenek minket es hogy egyszer,
			<br>kijussunk egy Epic Games altal rendezett Fortnite versenyre.
			<br>4 Fortnite duonk van abbol 2 Junior es 1 CS:GO csapatunk.
		<p>
			<li id="squadheaderText">Jelenlegi Csapataink:</li>
	</section>
	<div class="squadText">
		<section class="redText">
			<ul>
				<li class="list-heading"> CRIMINALS FORTNITE </li>
				<li> Criminals Titaaa </li>
				<li> Criminals Edem_ </li>
				<li> Criminals Marci </li>
				<li> - </li>
			</ul>
		</section>
		<section class="redText">
			<ul>
				<li class="list-heading"> CRIMINALS JUNIOR </li>
				<li> Criminals Margarin </li>
				<li> Criminals Geri </li>
				<li> Criminals Blntt. </li>
				<li> Criminals Lőri </li>
			</ul>
		</section>
		<section class="redText">
			<ul>
				<li class="list-heading"> CRIMINALS CS:GO </li>
				<li> Criminals Lastround </li>
				<li> - </li>
				<li> - </li>
				<li> - </li>
				<li> - </li>
			</ul>
		</section>
	<div>
		<img class="gototopid" src="images/ujlogo2.png" alt="gototop" align="middle">
	</div>
	</div>
</div>

<% include ./partials/footer %>
