<% include ./partials/header %>
<div class="container">
	<section  class="page1text redText">
		<p>-A jovo csapata-
			<br>a Criminals eSports Novak Gergo Zoltan vezetese alatt all.
			<br>Jelenleg benne van a TOP 3 Fortnite csapatokba Magyarorszagon.
			<br>Jelenleg 7 Duo-val buszkelkedhetunk. Celunk hogy minel tobben megismerjenek
			<br>minket es hogy egyszer kijussunk egy Epic Games altal rendezett Fortnite versenyre.
			<br>6 PC-s Duonk van es mellette van jelenleg 1 Xbox One Duonk es tervben van egy PS4-es is.
		<p>
			<li id="squadheaderText">Jelenlegi Csapataink:</li>
	</section>
	<div class="squadText">
		<section class="redText">
			<ul>
				<li class="list-heading"> CRIMINALS ESPORTS </li>
				<li> Criminals Titaaa </li>
				<li> Criminals Edem_ </li>
				<li> Criminals Marci </li>
				<li> - </li>
			</ul>
		</section>
		<section class="redText">
			<ul>
				<li class="list-heading"> CRIMINALS CS:GO </li>
				<li> Criminals Lastround </li>
				<li> - </li>
				<li> - </li>
				<li> - </li>
				<li> - </li>
			</ul>
		</section>
		<section class="redText">
			<ul>
				<li class="list-heading"> CRIMINALS JUNIOR </li>
				<li> Criminals Margarin< /li>
				<li> Criminals Geri </li>
				<li> Criminals Blntt. </li>
				<li> Criminals Lőri </li>
			</ul>
		</section>
	<div>
		<img class="gototopid" src="images/ujlogo2.png" alt="gototop" align="middle">
	</div>
</div>
<% include ./partials/footer %>
