<% include ./partials/header %>
<title>Criminals eSports - News</title>
<div class="container">

	<div id="newsText">
		<p>2019.07.22 | a Criminals Girls csapathoz csatlakozott hetfon panka
	</div>
	<div class="row player-list justify-content-center">
		<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="player">
				<img src="images/fortnite/panka.png" alt="Avatar" class="image">
				<div class="middle">
					<div class="text"> twitch.tv/ppanka <br> Palánkai Panka </div>
				</div>
			</div>
		</div>
	</div>


	<div id="newsText">
		<p>2019.07.17 | a Criminals eSportsba tartott TGF utan 3 embert koszonthetunk nalunk <br> Momo, Fisshhhiii es Klix </p>
	</div>
	<div class="row player-list justify-content-center">
		<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="player">
				<img src="images/fortnite/momo.png" alt="Avatar" class="image">
				<div class="middle">
					<div class="text"> twitch.tv/mendez_official <br> László Olivér </div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="player">
				<img src="images/fortnite/fisshhhiii.png" alt="Avatar" class="image">
				<div class="middle">
					<div class="text"> twitch.tvfishfeeee <br> Halfinger Krisztián </div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="player">
				<img src="images/fortnite/klix.png" alt="Avatar" class="image">
				<div class="middle">
					<div class="text"> twitch.tv/kliksz <br> Gery </div>
				</div>
			</div>
		</div>


	<div id="newsText">
		<p>2019.07.08 | a Criminals Girls-be 2 uj tagot koszonthetunk amellyel mar 3-man vannak. <br> Klau, Kiara es Fanni </p>
	</div>
	<div class="row player-list justify-content-center">
		<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="player">
				<img src="images/fortnite/klau.png" alt="Avatar" class="image">
				<div class="middle">
					<div class="text"> Kukli Klaudia </div>
				</div>
			</div>
		</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="player">
					<img src="images/fortnite/kiara.png" alt="Avatar" class="image">
					<div class="middle">
						<div class="text"> Vitez Kiara </div>
					</div>
				</div>
			</div>
		</div>


	<div id="newsText">
		<p>2019.06.28 | 26-en megnyilt a tgf a lany csapatunkba, es 28.-an mar koszonthetjuk is az elso jatekosunkat a CRIMIMALS Girls csapatunkban. A TGF tovabbra is nyitva marad es varja a lany jatekosokat. </p>
	</div>

	<div class="row player-list justify-content-center">
		<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="player">
				<img src="images/fortnite/fanni.png" alt="Avatar" class="image">
				<div class="middle">
					<div class="text"> Füller Fanni </div>
				</div>
			</div>
		</div>
	<section>
		<p id="newsText"> 2019.06.26 | Habar meg regen a Criminals eSports feloszlott,
			most ujult erovel elindult es olyan formaban vagyunk mint meg soha.
			Idokozbe nem csak 1 szponzorral gazdagodtunk viszont nehany uj jatekost is koszonthetunk
			a Junior es eSports csapatba egyarant. Emelett parhuzasoman elindult a CS:GO csapatunk ahova
			meg most is tudtok jelentkezni a weboldalunkon a "Registration" Tab alatt. Itt tovabbra is nap
			mint nap megtalalhatoak a legfrisebb hirek a Criminals eSports-rol.
		  </p>
	</section>


			<div id="newsText">
				<p>2019.02.13 | Egy uj Taggal erosult a Criminals Console csapata es LOLABELYT csatlakozott a Criminals Content Creatorokhoz!</p>
			</div>
			<div class="row player-list justify-content-center">
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="player">
						<img src="images/fortnite/lolabel.png" alt="Avatar" class="image">
						<div class="middle">
							<div class="text">youtube.com/Lolabelyt <br>
							🔒SECRET🔒 Abel</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="player">
						<img src="images/fortnite/plytox.png" alt="Avatar" class="image">
						<div class="middle">
							<div class="text">twitch.tv/plytox <br>
							Szabo Jacint</div>
						</div>
					</div>
				</div>
			</div>

		<div>
			<img class="gototopid" src="images/ujlogo2.png" alt="gototop" align="middle">
		</div>
	</div>
</div>
</div>

<% include ./partials/footer %>
