<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="Evento -Event Html Template">
    <meta name="keywords" content="Evento , Event , Html, Template">
    <meta name="author" content="ColorLib">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title>Criminals eSports | News</title>
    <!-- ========== Favicon Ico ========== -->
    <link rel="shortcut icon" style="image/png" href="assets/img/favicon.ico">
    <!-- ========== STYLESHEETS ========== -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/et-line.css" rel="stylesheet">
    <link href="assets/css/ionicons.min.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
</head>
<body>
<!-- style -->
<style>
    ::-webkit-scrollbar {
        width: 8px;
        background-color: #080808;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #801515;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    }

    html {
        scroll-behavior: smooth;
    }

    .gotopbtn {
        position: fixed;
        width: 50px;
        height: 50px;
        background: #801515;
        bottom: 40px;
        right: 50px;
        text-decoration: none;
        text-align: center;
        line-height: 50px;
        color: white;
        font-size: 22;
    }
    
    .blog_card .blog_box_data .blog_word {
        text-align: justify;
        word-break: normal;
    }

    footer {
        background-color: black;
    }

    .copyright_footer {

        background-color: #080808;
    }




</style>
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>


<!--header start here -->
<a class="gotopbtn" href="#"> <i class="fas fa-chevron-up"></i> </a>

<header class="header navbar fixed-top navbar-expand-md">
    <div class="container">
        <a class="navbar-brand logo" href="#">
            <img src="assets/img/ujlogo2.png" alt="Criminals eSports Logo" width="100">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-text-align-right"></span>
        </button>
        <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
            <ul class=" nav navbar-nav menu">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/players">Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/registration">Registration</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!--header end here-->

<!--page title section-->
<section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="assets/img/esport.jpg">
    <div class="overlay_dark"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="inner_cover_content">
                    <h3>
                        News
                    </h3>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Home</a>   |  </li>
                <li><span>News</span></li>
            </ul>
        </div>
    </div>
</section>
<!--page title section end-->


<!--events section -->
<section class="pt100 pb100">
    <div class="container">
        <div class="row justify-content-center">
            <!--blog section start -->
            <div class="col-12 col-md-8">
                    <div class="blog_card">
                            <img src="assets/img/fortnite/newest_transfer_nikola_mepeti_balji.png" alt="blog News ">
                            <div class="blog_box_data">
                                <span class="blog_date">
                                    August 08, 2019
                                </span>
                                <div class="blog_meta">
                                    <span><a>By Novak Gergo Zoltan</a></span>  | <span><a>  Transfers   </a></span>
                                </div>
                                <h5>
                                    Criminals Junior tagfelvetel + Transfers
                                </h5>
                                <p class="blog_word">
                                        2019.08.08-an megtartok reggel 10:00 a Criminals Junior-ba a tagfelvetelt amely sajnos keso delutanba is belehuzodott halasztas miatt. Nagyon sok jo jatekost lathattam jatszani igy a dontest nem csak a pont szam befolyasolta. 3 ember kerult vegul felvetelre a Juniorba Nikola es MePeti mig az eSports csapatunk egy uj taggal gazdagodott, Balji-val.
                                </p>
                            </div>
                        </div>

                <div class="blog_card">
                    <img src="assets/img/fortnite/newest_transfer_momo_fishi.png" alt="blog News ">
                    <div class="blog_box_data">
                        <span class="blog_date">
                            July 17, 2019
                        </span>
                        <div class="blog_meta">
                            <span><a>By Novak Gergo Zoltan</a></span>  | <span><a>  Transfer   </a></span>
                        </div>
                        <h5>
                            Criminals eSports tagfelvetel
                        </h5>
                        <p class="blog_word">
                             A Criminals eSportsba tartott tagfelvetel utan 2 embert koszonthetunk nalunk Fisshhhiii-t es MoMo-t
                        </p>
                    </div>
                </div>

                <div class="blog_card">
                    <img src="assets/img/fortnite/newest_transfer_klau_kiara_panka.png" alt="blog News ">
                    <div class="blog_box_data">
                        <span class="blog_date">
                            July 08, 2019
                        </span>
                        <div class="blog_meta">
                            <span><a>By Novak Gergo Zoltan</a></span>  | <span><a>  Transfers   </a></span>
                        </div>
                        <h5>
                            Legujabb Igazolasaink: Klau, Kiara es Panka
                        </h5>
                        <p class="blog_word">
                                a Criminals Girls-be 3 uj tagot koszonthetunk amellyel mar egesz a csapat. Klau, Kiara, Fanni es Panka
                        </p>
                    </div>
                </div>

                <div class="blog_card">
                    <img src="assets/img/fortnite/criminalswillneverdie.png" alt="blog News ">
                    <div class="blog_box_data">
                        <span class="blog_date">
                            June 26, 2019
                        </span>
                        <div class="blog_meta">
                                <span><a>By Novak Gergo Zoltan</a></span>  | <span><a>  Gaming   </a></span>
                        </div>
                        <h5>
                            A Criminals eSports ujult erovel visszater
                        </h5>
                        <p class="blog_word">
                            Habar meg regen a Criminals eSports feloszlott, most ujult erovel elindult es olyan formaban vagyunk mint meg soha. Idokozbe nem csak 1 szponzorral gazdagodtunk viszont nehany uj jatekost is koszonthetunk a Junior es eSports csapatba egyarant. Emelett parhuzasoman elindult a CS:GO csapatunk ahova meg most is tudtok jelentkezni a weboldalunkon a "Registration" Tab alatt. Itt tovabbra is nap mint nap megtalalhatoak a legfrisebb hirek a Criminals eSports-rol.
                        </p>
                    </div>
                </div>


                <!--pagenition menu-->
                <!-- <div class="mt70 mb70">
                    <ul class="nav_menu">
                        <li class="active"><span>01</span></li>
                        <li><a href="#">02</a></li>
                        <li><a href="#">03</a></li>
                    </ul>
                </div> -->
                <!--pageintion -->

            </div>
            <!--blog section end-->

            <!-- sidebar section
            <div class="col-12 col-md-4">
                <div class="sidebar">
                    <div class="widget widget_search">
                        <div class="search-form">
                            <input type="text" class="search-field" placeholder="Search">
                        </div>
                    </div>
                    <div class="widget widget_categories">
                        <h4 class="widget-title">
                            Archives
                        </h4>
                        <ul>
                            <li><a href="#">March 2017</a></li>
                            <li><a href="#">April 2017</a></li>
                            <li><a href="#">May 2017</a></li>
                            <li><a href="#">June 2017</a></li>
                        </ul>
                    </div>
                    <div class="widget widget_categories">
                        <h4 class="widget-title">
                            Categories
                        </h4>
                        <ul>
                            <li><a href="#">Uncategorized</a></li>
                            <li><a href="#">Usefull Information</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Marketing</a></li>
                            <li><a href="#">Conference & Press</a></li>
                        </ul>
                    </div>

                    <div class="widget widget_latest_post">
                        <h4 class="widget-title">
                            Latest Posts
                        </h4>
                        <ul>
                            <li>
                                <div class="widget_recent_posts">
                                    <img src="assets/img/blog/blog1.png" alt="news">
                                    <div class="content">
                                        <a href="#">Uncategorized</a>
                                        <p>by Jane Smith / Aug 25, 2017</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="widget_recent_posts">
                                    <img src="assets/img/blog/blog2.png" alt="news">
                                    <div class="content">
                                        <a href="#">Uncategorized</a>
                                        <p>by Jane Smith / Aug 25, 2017</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="widget_recent_posts">
                                    <img src="assets/img/blog/blog3.png" alt="news">
                                    <div class="content">
                                        <a href="#">Uncategorized</a>
                                        <p>by Jane Smith / Aug 25, 2017</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="widget_recent_posts">
                                    <img src="assets/img/blog/blog1.png" alt="news">
                                    <div class="content">
                                        <a href="#">Uncategorized</a>
                                        <p>by Jane Smith / Aug 25, 2017</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="widget widget_instagram">
                        <h4 class="widget-title">
                            Instagram
                        </h4>
                        <ul>
                            <li><a href="#"><img src="assets/img/blog/instagram/inst5.png" alt="instagram"></a></li>
                            <li><a href="#"><img src="assets/img/blog/instagram/inst2.png" alt="instagram"></a></li>
                            <li><a href="#"><img src="assets/img/blog/instagram/inst3.png" alt="instagram"></a></li>
                            <li><a href="#"><img src="assets/img/blog/instagram/inst4.png" alt="instagram"></a></li>
                            <li><a href="#"><img src="assets/img/blog/instagram/inst5.png" alt="instagram"></a></li>
                            <li><a href="#"><img src="assets/img/blog/instagram/inst6.png" alt="instagram"></a></li>
                        </ul>
                    </div>
                    <div class="widget widget_tags">
                        <h4 class="widget-title">
                            Tags
                        </h4>
                        <ul>
                            <li><a href="#">branding</a></li>
                            <li><a href="#">identity</a></li>
                            <li><a href="#">design</a></li>
                            <li><a href="#">inspiration</a></li>
                            <li><a href="#">web design</a></li>
                            <li><a href="#">video</a></li>
                            <li><a href="#">photography</a></li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <!--sidebar section end -->

        </div>
    </div>
</section>
<!--event section end -->



<!--get tickets section -->
    <!-- <section class="bg-img pt100 pb100" style="background-image: url('assets/img/bg/tickets.png');">
        <div class="container">
            <div class="section_title mb30">
                <h3 class="title color-light">
                    GEt your tikets
                </h3>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-9 text-md-left text-center color-light">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec gravida tempus. Integer iaculis in aazzzCurabitur a pulvinar nunc. Maecenas laoreet finibus lectus, at volutpat ligula euismod.
                </div>
                <div class="col-md-3 text-md-right text-center">
                    <a href="#" class="btn btn-primary btn-rounded mt30">buy now</a>
                </div>
            </div>
        </div>
    </section> -->
<!--get tickets section end-->

<!--footer start -->
<footer>
        <div class="container">
            <div class="row justify-content-center">
    
                <div class="col-md-4 col-12">
                    <div class="footer_box">
                        <div class="footer_header">
                                <h4 class="footer_title">
                                        CRIMINALS ESPORTS
                                    </h4>
                        </div>
                        <div class="footer_box_body">
                            <p>
                                A Criminals egy eSport csapat amely jelenleg komolyan Fortnite es CS:GO-val foglalkozik, celunk hogy minel erdemenyesebb legyen csapatunk vilag szinten es megmeretetthessuk magunkat a vilag legjobb csapataival szemben.
                            </p>
                            <ul class="footer_social">
                                    <li>
                                        <a href="https://discord.gg/ujAu6wV" target="_blank"><i class="ion-social-whatsapp"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitch.tv/criminalsesports/" target="_blank"><i class="ion-social-twitch"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UC7e44y7CfHFK7e4dxKK9vGg" target="_blank"><i class="ion-social-youtube"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/criminalsesports/" target="_blank"><i class="ion-social-instagram"></i></a>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-4">
                    <div class="footer_box">
                        <div class="footer_header">
                            <h4 class="footer_title">
                                instagram
                            </h4>
                        </div>
                        <div class="footer_box_body">
                            <ul class="instagram_list">
                                <li>
                                    <a href="https://www.instagram.com/p/BxN-cSeA0iZ/" target="_blank">
                                        <img src="assets/img/cleander/i1.png" alt="instagram">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/img/cleander/i2.jpeg" alt="instagram">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/img/cleander/i3.jpeg" alt="instagram">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/img/cleander/i4.jpg" alt="instagram">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/img/cleander/i5.jpg" alt="instagram">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/img/cleander/i6.jpg" alt="instagram">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright_footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-12">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Criminals esports</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
                <div class="col-12 col-md-6 ">
                    <ul class="footer_menu">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/news">News</a>
                        </li>
                        <li>
                            <a href="/players">Players</a>
                        </li>
                        <li>
                            <a href="/registration">Registration</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!--footer end -->

<!-- jquery -->
<script src="assets/js/jquery.min.js"></script>
<!-- bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<!--slick carousel -->
<script src="assets/js/owl.carousel.min.js"></script>
<!--parallax -->
<script src="assets/js/parallax.min.js"></script>
<!--Counter up -->
<script src="assets/js/jquery.counterup.min.js"></script>
<!--Counter down -->
<script src="assets/js/jquery.countdown.min.js"></script>
<!-- WOW JS -->
<script src="assets/js/wow.min.js"></script>
<!-- Custom js -->
<script src="assets/js/main.js"></script>
</body>
</html>
