<% include ./partials/header %>
<title>Criminals eSports - News</title>
<div class="container">
	<section>
		<p id="newsText">2019.06.25 | Habar meg regen a Criminals eSports feloszlott,
			most ujult erovel elindult es olyan formaba vagyunk mint meg soha.
			Idokozbe nem csak 1 szponzorral gazdagodtunk viszont nehany uj jatekost is koszonthetunk
			a Junior es eSports csapatba egyarant. Emelett parhuzasoman elindult a CS:GO csapatunk ahova
			meg most is tudtok jelentkezni a weboldalunkon a "Registration" Tab alatt. Itt tovabbra is nap
			mint nap megtalalhatoak a legfrisebb hirek a Criminals eSports-rol.
		  </p>
	</section>
	<section>
		<p id="newsText"> 2019.03.03 | Ket uj Taggal erosult a Criminals 3 es LOLABEL csatlakozott a Content Creator csapatunkhoz:</p>
	</section>
	<div class="row player-list justify-content-center">
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="player">
						<img src="images/fortnite/lolabel.png" alt="Avatar" class="image">
						<div class="middle">
							<div class="text">youtube.com/lolabel <br>
							🔒SECRET🔒 Abel</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="player">
						<img src="images/fortnite/varnel.png" alt="Avatar" class="image">
						<div class="middle">
							<div class="text">twitch.tv/ <br>
							Sonkoly Marcell</div>
						</div>
					</div>
				</div>

	<section>
		<p id="newsText"> 2019.03.03 | Legujabb tagja a Criminals eSports Console Csapatnak:</p>
	</section>
			<div class="row player-list justify-content-center">
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="player">
						<img src="images/fortnite/plytox.png" alt="Avatar" class="image">
						<div class="middle">
							<div class="text">twitch.tv/plytox <br>
							Szabo Jacint</div>
						</div>
					</div>
				</div>

		<section>
			<p id="newsText">2019.03.02 | Gratulalunk Csutinak aki jelenleg Magyarorszag legjobb Solo Jatekosa !</p>
			<div class="newscsuti">
				<img src="images/csutitop1.png" alt="csutitop1">
			</div>
		</section>
			<div id="newsText">
				<p>2019.02.13 | Legujabb igazolasaink:</p>
			</div>

			<div class="row player-list justify-content-center">
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="player">
						<img src="images/fortnite/csuti.png" alt="Avatar" class="image">
						<div class="middle">
							<div class="text">twitch.tv/xcsutix <br>
							Csonka Tomi</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="player">
						<img src="images/fortnite/maszusz.png" alt="Avatar" class="image">
						<div class="middle">
							<div class="text">twitch.tv/maszusz <br>
							Kohalmi Mate</div>
						</div>
					</div>
				</div>
			</div>
		<div>
			<img class="gototopid" src="images/ujlogo2.png" alt="gototop" align="middle">
		</div>
	</div>
</div>
</div>

<% include ./partials/footer %>
