<% include ./partials/header %>
<div class="container">
	<div>
		<p class="regText">Szeretnel jelentkezni a Criminals eSports-ba? <br>
			Nincs mas dolgod mint hogy megnezd hogy megfelelsz-e a kriteriumoknak. <br>
			Hogyha ez megvan akkor tudsz nekunk kuldeni egy e-mailt erre az e-mail cimre (criminalsesportshun@gmail.com). <br>
			Az E-mail tartalmazza a/z (Irl nevedet, inGame nevedet, korod, illetve meselj magadrol) <br>
		</p>
	</div>

	<li class="feltetelekText">Feltetelek:</li>

	<div class="feltetelek">
		<li>- 14.-ik eletev betoltese</li>
		<li>- Csapatjatek</li>
		<li>- ~200 Win (LifeTime)</li>
		<li>- ~2.00 K/D (Season)</li>
	</div>

	<div>
		<img class="gototopid" src="images/ujlogo2.png" alt="gototop" align="middle">
	</div>
</div>
<% include ./partials/footer %>
