<% include ./partials/header %>
<title>Criminals eSports - Registration</title>

<div class="container">
	<div>
		<p class="regText">Szeretnel jelentkezni a Criminals eSports-ba? <br>
			Nincs mas dolgod mint hogy megnezd hogy megfelelsz-e a kriteriumoknak. <br>
			Hogyha ez megvan akkor tudsz nekunk kuldeni egy e-mailt erre az e-mail cimre (criminalsesportshun@gmail.com). <br>
			Az E-mail tartalmazza a/z (Irl nevedet, Discord nevedet (FONTOS), fortnitetracker link, korod, illetve meselj magadrol es Tournament eredmenyeidrol) <br>
			Itt egy pelda e-mail ami szerint meglehet csinalni a nekunk szant uzenetet.
		</p>
	</div>

		<div id="regtgf">
			<img src="images/tgf.png" alt="criminalsesportstgf">
		</div>

	<li class="feltetelekText">TGF feltetelek:</li>

	<div class="squadText">
		<section class="redText">
			<ul>
				<li class="list-heading"> CRIMINALS FORTNITE</li>
				<li> -15.-ik eletev betoltese </li>
				<li> -min. 400 win (no farm) </li>
				<li> -min. Season K/D 3.00 </li>
				<li> -min. napi aktivitas 2 ora </li>
			</ul>
		</section>
		<section class="redText">
			<ul>
				<li class="list-heading"> CRIMINALS GIRLS</li>
				<li> -12.-ik eletev betoltese </li>
				<li> -min. 100 win (no farm) </li>
				<li> -min. Season k/D 1.25 </li>
				<li> -min. napi aktivitas 2 ora </li>
			</ul>
		</section>
		<section class="redText">
			<ul>
				<li class="list-heading"> CRIMINALS JUNIOR</li>
				<li> -13.-ik eletev betoltese </li>
				<li> -min. 325 win (no farm) </li>
				<li> -min. Season K/D 2.50 </li>
				<li> -min. napi aktivitas 2 ora </li>
			</ul>
		</section>
		<section class="redText">
			<ul>
				<li class="list-heading"> CRIMINALS CS:GO</li>
				<li> -15.-ik eletev betoltese </li>
				<li> -min oraszam 700 </li>
				<li> -min ig rang Kala II </li>
				<li> -min. napi aktivitas 2 ora </li>
			</ul>
		</section>
	</div>

	<div>
		<img class="gototopid" src="images/ujlogo2.png" alt="gototop" align="middle">
	</div>
</div>
<% include ./partials/footer %>
