<% include ./partials/header %>
<title>Criminals eSports - Social</title>

<div class="container">
	<nav class="regText">
		<p>Itt talalhatod meg a Criminals eSports Hivatalos kozossegi oldalait.</p>
			<ul>
				<li><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UC7e44y7CfHFK7e4dxKK9vGg" style="text-decoration: none;">YouTube</a></li>
				<li><a target="_blank" rel="noopener noreferrer" href="https://www.twitch.tv/criminalsesports" style="text-decoration: none;">Twitch</a></li>
				<li><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/criminalsesports/" style="text-decoration: none;">Instagram</a></li>
				<li><a target="_blank" rel="noopener noreferrer" href="https://discord.gg/ujAu6wV" style="text-decoration: none;">Discord</a></li>
				<li><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/criminalshun" style="text-decoration: none;">Twitter</a></li>
			</ul>
	</nav>


	<div>
		<img class="gototopid" src="images/ujlogo2.png" alt="gototop" align="middle">
	</div>
</div>
<% include ./partials/footer %>
